
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/discapacidad.png" class="d-block w-100" alt="adriana">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/discapacidad2.jfif" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/img/discapacidad3.jfif" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>
        </div>
      </div><br><br><br>

    

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <video class="card-img-top" controls> <source src="assets/videos/video1.mp4" alt="Card image cap"> </video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.facebook.com/seresglobales/videos/494109748282548/" target="_blank" class="btn btn-outline-success">Facebook</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <video class="card-img-top" controls> <source src="assets/videos/video1.mp4" alt="Card image cap"> </video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.facebook.com/seresglobales/videos/494109748282548/" target="_blank" class="btn btn-outline-success">Facebook</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <video class="card-img-top" controls> <source src="assets/videos/video1.mp4" alt="Card image cap"> </video>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="https://www.facebook.com/seresglobales/videos/494109748282548/" target="_blank" class="btn btn-outline-success">Facebook</a>
              </div>
            </div>
          </div>
        </div>
      </div><br><br><br>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dDnaSdkXSuI" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>

    </section>
  
